@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.background {
  background: black;
  max-width: 1000;
}

.navegacao-primaria .ativo{
  color: #7a29ff;
  font-size: 21px;

}

.navegacao-primaria a:hover{
  color: #7a29ff;
  transition: 0.3s all;
}

body{
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: top 0.3s;
  flex-wrap: wrap;
}

header.sticky {
  position: fixed;
}

header.hidden {
  top: -100px; /*fixador*/
}


header h1 {
  color: #7a29ff;
  font-size: 2.5rem;
  flex: 1;
}

header span {
  color: #f8fdfb;
}

header .navegacao-primaria {
  display: flex;
  gap: 10px;
  align-items: center;

}

header .navegacao-primaria li a {
  padding: 10px;
  color: #f8fdfb;
  font-size: 1.3rem;
  text-decoration: none;
}

button{
  color: #f8fdfb;
  background: transparent;
  border: solid 1px #f8fdfb;
  padding: 4px;
  border-radius: 12px;
  font-size: 13px;
  width: 140px;
  cursor: pointer;
}

button:hover{
  background-color: #7a29ff;
  color: #f8fdfb;
  transition: 0.5s;

}


.section-div {
  animation: inicializar .7s forwards;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.section-div div {
  margin-top: 0;
  align-self: start;
  display: grid;
  gap: 30px;
}

.section-div div h2 {
  font-family: 'Poppins';
  font-weight: 600;
  color: #f8fdfb;
  font-size: 1.8rem;
}

.section-div div p {
  font-family: 'Poppins';
  font-weight: 200;
  color: #f8fdfb;

}

.section-div div a {
  justify-self: start;
  color: #f8fdfb;
  padding: 15px 40px;
  border-radius: 5px;
  border: 2px solid white;
}

.digitando::after{
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .5s infinite;
}

.section-div img {
  max-width: 60%;
}

footer{
    color: #f8fdfb;
    position: absolute;
    right: 10px;
    bottom: 1px;
}

.thumbs-container {
  display: flex;
  justify-content: center;
}

.thumb {
  text-align: center;
  margin: 10px;
  padding: 5px;
  width: 120px; 
  position: relative;
  transform: scale(1.0);
  opacity: 0.6;
  box-shadow: 0 0 10px #18ffe4;
  background-color: #000000;
}

.thumb:hover {
  opacity: 1.0;
  transform: scale(1.0);
  transition: 0.5s;
}

.thumb .thumb-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.thumb img {
  width: 100px;
  height: 100px;
  position: relative;
  opacity: 1.0;
}

.description a{
  text-decoration: none;
  color: #ffffff;
}

.thumb .description {
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.thumb .description.show-full {
  white-space: normal;
  text-overflow: clip;
  max-height: none;
}

.show-more-btn {
  display: block;
  margin: 5px auto 0;
  background-color: transparent;
  border: none;
}

.show-more-btn:hover {
  transition: none;
  border: none;
  background-color: transparent;
  color: #18ffe4;
}

@keyframes loadingAnimation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.loading {
  animation: loadingAnimation 1.5s infinite;
}

.loadingskills {
  animation: loadingAnimation 1.5s infinite;
}

.loadingskills {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.controls {
    position: absolute;
    bottom: 30px;
    right: 20px;
    display: flex;
    z-index: 5;
  }
  
.controls button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
  }

.tabs {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    height: 25vh;
    margin-bottom: auto;
    color: #f8fdfb;
  
  }
  
.tablink {
    background-color: #ff9900;
    border: none;
    color: #f8fdfb;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
    
  }
  
.tabcontent {
    
    padding: 10px;
    text-align: center;
    color: #ffffff;
    display: none;
    list-style: none;
    font-family: 'Lumanosimo';
    text-shadow: 2px 2px 4px rgb(4, 121, 107); 

  }

  .skill-icon {
    width: 100px;
    height: 100px;
    transition: transform 0.2s;
    opacity: 0.6;
  }

  .skill-icon:hover {
    transform: scale(1.1);
    opacity: 1.0;
  }

  

.btn-secondary.active {
    background-color: #dc9935;
    border: none;
    color: #f8fdfb;
    padding: 10px 10px;
    cursor: pointer;
    justify-content: center;
    
  }
  
.tabcontent.active {
    display: block;
    justify-content: center;
    color: #dc9935;
    text-decoration: none;
  }

  #curriculo.tabcontent {
    height: 70px;
  }

  #curriculo.tabcontent a {
    text-decoration: none;
    color: inherit;
    cursor: auto;
    color: #f8fdfb;
    background: transparent;
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
    width: 140px;
    cursor: pointer;
    position: sticky;
    margin-top: 5px;
  }
  
  #curriculo.tabcontent a:hover {
    background-color: transparent;
    color: inherit;
    transition: none;
    color: #f8fdfb;
    transition: 0.5s;
    
  }

  .cv-image {
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
    opacity: 0.6;
    }
  
 .cv-image:hover {
    transform: scale(1.1);
    opacity: 1.0;
  }

 #minha-foto {
  box-shadow: 0px 0px 10px 2px rgb(24, 255, 228);
  border-radius: 30px 30px 30px 30px;
  transform: perspective(1000px) rotateY(4deg);
  transition: transform 0.3s ease;
  position: relative;
  right: 10px;
  left: 110px;
  bottom: 20px;
  flex-wrap: wrap;
  height: auto;
 }
  
 #minha-foto:hover {
  transform: rotate(3deg);
 }

 @keyframes moving {
  0% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(-5px); }
}

 #minha-foto {
  transition: transform 1.5s ease;
}

#minha-foto:hover {
  transform: perspective(500px) rotateY(180deg);
}

@keyframes inicializar {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pisca {
  from {
    opacity: 1;
    
  }

  to {
    opacity: 0;  
  }
}

main {
  color: white;
  margin-top: 0;
}

main .sobre {
  display: grid;
  text-align: center;
  box-shadow: 0px 0px 10px 2px #18ffe4;
  border-radius: 30px 30px 30px 30px;
}

#sobre-mim {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
}

#sobre-mim h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
  font-family: 'Lumanosimo';
  text-shadow: 2px 2px 4px rgb(221, 255, 251);
}

#sobre-mim p {
  font-size: 18px;
  color: white;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

#sobre-mim h1, #sobre-mim p {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}


  @keyframes shake {
    10%, 90% {
      transform: translateX(-5px);
    }
    20%, 80% {
      transform: translateX(5px);
    }
    30%, 50%, 70% {
      transform: translateX(-2px);
    }
    40%, 60% {
      transform: translateX(2px);
    }
  }

  #sobre-mim h1:hover, #sobre-mim p:hover {
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }

  #sobre-mim h1, #sobre-mim p {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }
  
  #sobre-mim h1:hover, #sobre-mim p:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


main .projects {
  display: grid;
  text-align: center;
  box-shadow: 0px 0px 10px 2px #18ffe4;
  border-radius: 30px 30px 30px 30px;
}

#my-projects {
  background-color: black;
  padding: 30px;
  text-align: center;
  flex-wrap: wrap;
}

#my-projects h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
  font-family: 'Lumanosimo';
  text-shadow: 2px 2px 4px rgb(221, 255, 251);
}

#my-projects p {
  font-size: 18px;
  color: white;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

#my-projects h1, #my-projects p {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}


  @keyframes shake {
    10%, 90% {
      transform: translateX(-5px);
    }
    20%, 80% {
      transform: translateX(5px);
    }
    30%, 50%, 70% {
      transform: translateX(-2px);
    }
    40%, 60% {
      transform: translateX(2px);
    }
  }

  #my-projects h1:hover, #my-projects p:hover {
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  }

  #my-projects h1, #my-projects p {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }
  
  #my-projects h1:hover, #my-projects p:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: linear-gradient(0deg, #7a29ff, #18ffe4);
    border: 3px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 12px;
    border-radius: 1px;
    background: linear-gradient(0deg,#18ffe4 , #7a29ff);
    border: 3px solid #191919;
  
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgb(255, 255, 255); /*cor de fundo*/
  padding: 10px;
  
}

footer:hover {
  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
}

.whats {
  
  position: fixed; 
  bottom: 30px;
  right: 90px;
  z-index: 9999;

}

.wpp-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.2s;
  opacity: 1.0;
}

.wpp-icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

@media (max-width: 450px){
   
  *{
      flex-direction: column;
  }

  #minha-foto {
      box-shadow: 0px 0px 10px 2px rgb(24, 255, 228);
      border-radius: 30px 30px 30px 30px;
      transform: perspective(1000px) rotateY(4deg);
      transition: transform 0.3s ease;
      position: relative;
      right: 10px;
      left: 110px;
      bottom: 120px;
      flex-direction: column-reverse;
      height: 100px;
      width: 100px;
    }
  button {
    text-align: center;
    width: 100px;
  }
  }


@media screen and (max-width: 767px) {
 
  header {
    padding: 10px;
    flex-wrap: wrap; 
  }
}

  

  

  
  
